body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    overflow-x: hidden;
}
#main{
    
    text-align: center;
    height: 40vh;
    width: 30vw;
   background-color: rgba(18, 17, 17, 0.3);
   border-radius: 25px;
}
button{
    position: absolute;
    
}
button:hover{
    cursor: pointer;
    
}
#yes{
    left: 45%;
    width: 50px;
    height: 30px
}
#No{
    left: 55%;
    width: 50px;
    height: 30px;
}
